
.contact {
    display: grid;
    margin-top: 8rem;
}

.contact-container {
    width: 58%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-option {
background: #CC3636;;
padding: 1.2em;
border-radius: 1.2rem;
text-align: center;
border: 1px solid transparent;
/* word-wrap and break-word will break the word down another line to avoid going outside the div */
word-wrap: break-word;  
transition: var(--transition);
}

.contact-option:hover {
    background: #CFD2CF;
}

.contact-option a {
    text-decoration: none;
    color: whitesmoke;
}
.contact-header {
    text-align: center;
    color: var(--white);
}

/****form area*****/

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.email-header {
    font-size: 15px;
}
input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid black;
    resize: none;
    color:whitesmoke;
}

input::placeholder, textarea::placeholder {
    color: white;
}



  /* Mobile */
  @media only screen and (max-width: 640px) {
    .contact {
       justify-items: center;
    }

    .contact-container  {
        display: flex;
        flex-direction: column;
    }

    form {
       margin-top: 1.55rem;
    }

    .email-header {
        font-size: 15px;
    }
  }
